<%- include ('partials/header') -%>

    <body>
        <div class="container">
            <div class="userinfo">
                <p>Welcome to Appointments Page</p>
                <p> <strong>User Name:
                
                <%= user.userName %>
                    </p>
                    <p><strong>Email</strong>:
                    <%= user.email %>
                </p>
            </div>
            <div class="user-btn">
                <!-- <a href="/logout" class="btn btn-primary">Logout</a> -->
                <!-- <a href="/bookAppointments" class=" btn btn-primary">Ready to schedule Appointments</a> -->
            </div>
            <br>

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <a class="navbar-brand" href="#">Appointment Reminders</a>

                    <!-- <div> -->
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="../landings">Home </a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="/appointments">Appointment Home</a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="/appointments/create">New appointment</a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>

                    </ul>
                    <!-- </div> -->
                </div>

            </nav>
            <table class="table" style="width:1200px;margin:0 auto">
                <thead>
                    <tr>
                        <th id="name">Name</th>
                        <th id="phoneNumber"> Phone Number</th>
                        <th id="docName">Doctor Name</th>
                        <th id="time">Appointment Time</th>
                        <th id="notify">Notiifcation Time</th>
                        <th id="timeZone">Time Zone</th>
                        <th id="actions">Actions</th>
                        <th id=""></th>
                    </tr>
                </thead>
                <tbody>

                    <%  appointments.forEach(el => {%>
                        <tr>
                            <td>
                                <%= el.name%>
                            </td>
                            <td>
                                <%= el.phoneNumber%>
                            </td>
                            <td>
                                <%= el.doctorName%>
                            </td>
                            <td>
                                <%= moment(el.time).format('YYYY-MM-DD hh:mma')%>
                            </td>
                            <td>
                                <%= moment(el.time).subtract(el.notification, 'minutes').format('YYYY-MM-DD hh:mma')%>
                            </td>
                            <td>
                                <%= el.timeZone %>
                            </td>

                            <td>
                                <a class=" btn btn-default btn-sm " href='"/appointments/ " + appointment.id + "/edit "'>Edit</a>
                            </td>
                            <td>
                                <form action='"/appointments/" + appointment.id + "/delete"' method="POST">
                                    <button class="btn btn-danger btn-sm ">Delete</button></form>
                            </td>
                            <% }) %>
                        </tr>


                </tbody>

        </div>

        <!-- <%- include ( 'partials/footer') -%> -->

    </body>